@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Wallpoet');

#countbox1{
	font-family: 'Wallpoet';
	color: aqua;
	font-size: 3em;
}

body {
	background: black;
}

.col-sm-11 {
	text-align: center !important;

}

#are{
	color: green;
}

#you{
	color: pink;
}

#ready {
	color: burlywood;
}

#to {
	color: yellow;
}

#rumble {
	color: red;
}

#greeting{
	color: white;
	font-family: 'Press Start 2P', cursive;
}